{% extends "base.html" %}
{% block title %} Login {% endblock %}
{% block content %}

<div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-4">
      <form class="form-signin" role="form" action="." method="POST">
            {% csrf_token %}
            {% include "alert_snippet.html" %}
            {% include "form_snippet.html" %}
            {% if next %}
                <input type="hidden" value="{{next}}" name="next">
            {% else %}
                <input type="hidden" value="/" name="next">
            {% endif %}
            <button class="btn btn-primary" type="submit"> Login </button>
            <h5>Registrarte <a href="{% url "vista_registro" %}">aquí</a></h5>
        </form>
  </div>
  <div class="col-md-4"></div>
</div>

{% endblock %}
